html, textarea {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  h1{
    font-weight: 900;
    font-size: 5rem;
    margin: 1px;
  }
  
.subtitulo{
    background-color: #ccc;
    border: 10px solid #ccc;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    padding: 15px;
    
}

.contenedor {
    max-width: 60rem;
    margin: 20px auto;
    padding: 20px;

    border-radius: 5px;
}

.form{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding: 15px;
}

textarea {
    width: 20rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ccc;
    border-color: black;
    border-width: 2px;

}

img{
    width: 20rem;
}

button {
    display: block;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(180, 25,61);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    margin-top: 15px;
    font-size: 15px;
}

button:hover {
    background-color: rgb(55, 69,228);
    font-size: 15.5px;
    
}
